$height: 100%;
$width: 100%;
.gallery {
  background: linear-gradient(
      rgba(242, 246, 252, 0.363),
      rgba(243, 247, 253, 0.322)
    ),
    url(../assets/img/webb.png);

  padding: 0;
  transition: 0.3s;
  position: relative;
  .data_loading_loader {
    z-index: 1001;
  }
  .col__1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .btn_all_litsting {
    color: $white;

    transition: background 0.3s ease-in, color 0.3s ease-in;
    &:hover:after {
      background: $black;
    }
    &:hover {
      color: $primary_two;
      border: 0.1rem solid $primary_two;
    }
  }

  &__link {
    overflow: hidden;
    width: calc($full__width / 3);
    border: 0.1rem solid #e4ffe6;

    &:hover {
      .gallery__caption {
        opacity: 1;
        visibility: visible;
        bottom: 0;
      }
    }
  }

  &__thumb {
    position: relative;
  }

  &__image {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    transition: transform 0.5s ease;
    display: block;
    width: 100%;
    height: 35rem;
    object-fit: cover;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 19px 19px 19px;
    width: 100%;
    font-size: 16px;
    color: $primary_two;
    opacity: 1;
    background: $primary_one;
    transition: bottom 0.5s ease;
    opacity: 0;
    visibility: hidden;
    bottom: -6rem;
  }
}
@media only screen and (max-width: 1200px) {
  .gallery {
    flex-direction: column;
    align-items: center;

    &__link {
      margin: 1.4rem 0;
    }
  }
  .gallery .col__1 {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .gallery__link {
    width: 90%;
  }

  .gallery__caption span {
    font-size: 1.4rem !important;
  }
}
