.question__ {
  padding: 3rem 0;
  background: linear-gradient($primary_two, $primary_two),
    url(../assets/img/darkness.png);
}

@media only screen and (max-width: 1200px) {
  .question__ {
    background: #0f203c;
  }
}
