.home_buying {
  background-color: #eceff1;

  .container-fluid {
    max-width: 80% !important;
  }
  img {
    width: 55rem;
    max-width: 100%;
  }

  h5 {
    color: $primary_two;
    font-weight: 500;
    font-size: 1.9rem;
  }
}
.buying_home {
  .bg_img_1 {
    background-image: url(../assets/img/23243195-3.jpg);
  }
  .bg_img_2 {
    background-image: url(../assets/img/23243195-4.jpg);
  }
  .bg_img_3 {
    background-image: url(../assets/img/23243195-5.jpg);
  }
}
