$gallery-height: 55rem;
$gallery-aspect-ratio: 4/3;
.master_plan_ {
  padding-top: 0;
  padding-bottom: 0;

  .bg-primary {
    padding: 7rem 0;
    background-color: #eceff1 !important;
    .fluid_1 {
      width: 80% !important;
      margin-right: auto;
      margin-left: auto;
      h2,
      p {
        color: #1b1b1b;
      }
    }
  }
  .master__img {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70ch, 1fr));
  }

  .master__img img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: $gallery-height;
    transform: scale(1) translate(0, 0);
    transition: transform 800ms ease-in;
  }

  .master__img figure {
    margin: 0;
    height: $gallery-height;
    background-color: hsl(200, 85%, 2%);

    display: grid;
    grid-template-areas: "card";
    place-items: end;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  @supports (aspect-ratio: 1) {
    .gallery figure,
    .gallery img {
      aspect-ratio: $gallery-aspect-ratio;

      height: auto;
    }
  }

  .master__img figure > * {
    grid-area: card;
  }

  .master__img figcaption {
    width: 100%;
    transition: transform 500ms 500ms ease-in;
    padding: 1.4rem 3rem;
    border-radius: 4px 0 0 0;
    background-color: hsla(0, 0%, 100%, 0.979);
    /* provide stacking context */
    z-index: 1;
  }
  .master__img figcaption h4 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
  }
  .master__img .paragraph_ {
    color: $primary_two;
  }
  .master__img a {
    &:hover {
      border: 0.1rem solid $primary_two;
      color: $primary_two;
      cursor: pointer;
    }
    &:hover:after {
      background: $primary_two;
    }
  }
  .master__img figure:hover figcaption,
  .gallery figure:focus figcaption {
    transform: translateY(0);
  }

  .master__img figure:hover img,
  .master__img figure:focus img {
    transform: scale(1.3) translate(-8%, -3%);
  }

  .master__img figure:focus {
    outline: 2px solid white;
    outline-offset: 2px;
  }

  /* Vignette */
  .master__img figure::after {
    content: "";
    grid-area: card;
    width: 100%;
    height: 100%;
    position: relative;
  }
}
@media (any-hover: hover) and (any-pointer: fine) {
  .master__img figcaption {
    transform: translateY(100%);
  }
}

@media (prefers-reduced-motion: reduce) {
  .master__img * {
    transition-duration: 0ms !important;
  }

  .master__img img {
    transform: none !important;
  }

  .master__img figcaption {
    transition-delay: 0ms;
  }
}

@media only screen and (max-width: 1200px) {
  $gallery-height: 35rem;
  .master_plan_ .bg-primary {
    padding: 3rem 0;
  }
  .master__img figure {
    height: $gallery-height !important;
  }
  .master__img img {
    height: $gallery-height !important;
  }
  .master_plan_ .master__img figcaption h4 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 992px) {
  .master_plan_ .master__img figcaption h4 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 980px) {
  .master__img {
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
  }
}
